.DS_Store
.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


*/node_modules/**
node_modules/**

*/dist/**
*/.env
*/yarn.lock
.claude/**
dist/**
*/package-lock.json
package-lock.json
CLAUDE.md
*/output.txt
node_modules/**
dist/assets/index-DOosnPSx.js
dist/assets/index-DUdBUt-R.css
