node_modules/**
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

*/.env
*/yarn.lock
.claude/**
*/package-lock.json
package-lock.json
CLAUDE.md
*/output.txt
